<h1>Contact Us</h1>

<form role="form">

   <div class="form-group">
      <label for="name">Your Name</label>
      <input type="text" class="form-control" id="name" placeholder="Type your name here">
   </div>

   <div class="form-group">
      <label for="email">How can we reach you?</label>
      <input type="text" class="form-control" id="email" placeholder="Email / Phone number">
   </div>

   <div class="form-group">
      <label for="comments">Comments</label>
      <textarea class="form-control" id="comments" cols="10" placeholder="Complaints, suggestions, other feedback"></textarea>
   </div>

   <button type="submit" class="btn btn-default">Submit</button>
</form>

